<!-- 부모 템플릿을 만들어서 새로만들때 상속하게 만들기 -->


<html>
    <head>
        <title>중고매물 시세검색기</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="blog/css/blog.css">
    </head>
    <body>
        <div class="page-header">
            
            <!-- 로그인되어있을때만 사용가능하게 바꾸기 -->
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}

            <!-- 새로 글추가 기호 만들기 -->
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">데이터베이스</a></h1>

        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">

                <!-- 기존 내용을 post_list에 옮겨서 템플릿을 상속시킨다 -->
                {% block content %}
                {% endblock %}

                </div>
            </div>
        </div>
    </body>
</html>