
{% extends "blog/base.html" %}

{% block content %}
<!-- 부모 템플릿 block부분에 들어갈 내용-->
{% for post in post_list %}
    <div class="post">
        <h2>
            <!-- post_list를 바꾸면 역으로 모 템플릿도 변경하게 만들기 -->
            <a href="{% url 'post_detail' post.pk %}">
                {{ post.title }}
            </a>
        </h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

            <!-- 테이블 만들기 -->
    <div class="content container">
        <table border="1">
            <th>제조사</th>
            <th>카테고리</th>
            <th>가격</th>
            <th>날짜</th>
            <th>텍스트</th>
            <th>컬러</th>
            <th>스펙</th>
            <th>중고</th>
            <tr><!-- 첫번째 줄 시작 -->
                <td>삼성</td>
                <td>노트북</td>
                <td>1,000,000</td>
                <td>2019-12-03</td>
                <td>노트북 팝니다 (미개봉)</td>
                <td>검은색</td>
                <td>i7-5500</td>
                <td>미개봉</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr><!-- 두번째 줄 시작 -->
                <td>애플</td>
                <td>아이패드 에어3세대</td>
                <td>600,000</td>
                <td>2020-01-23</td>
                <td>아이패드 중고팝니다.</td>
                <td>실버</td>
                <td>256GB</td>
                <td>중고</td>
            </tr><!-- 두번째 줄 끝 -->
        </table>
    </div>



{% endfor %}

{% endblock %}